<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>About</title>
  <link rel="shortcut icon" type="image/png" href="/src/images/logo.png">
</head>
<body>
    <div class="outer-container">
        <div class="inner-container">
            <h1>MAR</h1>
            <ul>
                <li><a href="./index"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="./bookingReperation"><i class="fas fa-plus-square"></i>Book</a></li>
                <li><a href="./myBookings"><i class="fas fa-book"></i>My Bookings</a></li>
                <li><a href="./about"><i class="fas fa-address-card"></i>About</a></li>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
<div class="contact ar">
   
<div class="about-us">
    <h2 class="anon">About</h2>
    <p>With the help of this website you can book laundry time from home and get updated news on what is happening in your housing society. </p>
    <p>Our developers</p>
  </div>

<div class="card-cntr">
    <div class="card-deck">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Abdifata Abdulkadir</div>
              <div class="card-body">
              <h5 class="card-title">Developer</h5>
              <p class="card-text">Abdifata's main focus areas was to work on the admin page, login, register new users, designing the app and he also worked on the database.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Mohammed Mohammed</div>
            <div class="card-body">
              <h5 class="card-title">Developer</h5>
              <p class="card-text">Mohammed's main focus area was to work on the booking of laundry time, canceling the booked time and designing the app.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Robert Yowakim</div>
            <div class="card-body">
              <h5 class="card-title">Developer</h5>
              <p class="card-text">Robert's main focus areas was to work on adding news, displaying the news, designing the app and he also worked on the database.</p>
            </div>
      </div>
  </div>
</div>
</div>
</body>
</html>