<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="style.css">
    
    <title>MAR</title>
    
</head>
<body> 
    <div class="outer-container">
        <div class="inner-container">
            <h1>MAR</h1>
            <ul>
                <li><a href="./news"><i class="fas fa-newspaper"></i>Add Article</a></li>
                <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
    

    <div class="h1 ar">
        <h1 > News <button type="submit" class="btn-primary" >  <a href="./newArticle" > New Article</a>   </button></h1>
        
    </div>

      <div id="articles" class="ar">
          
    </div>

    <script>
        fetch('http://localhost:3003/news').then(function (response){
              return response.json();
          }).then(function (data){
              appendData(data);
          }).catch(function (err){
              console.log("error:" + err);
          });
          function appendData(data){
              let mainContainer = document.getElementById("articles");
              for (let i = 0; i < data.length; i++){
                  let div = document.createElement("div");
                  div.innerHTML = 
                                  "<div class= 'innerArticles' "+
                                  "<h1> <strong>" + data[i].title + "</strong> </h1>" + " <br> " + 
                                  "<h5 class='dateClass'>" + data[i].date + "</h5>" + " <br> " +
                                  "<p>" + data[i].description + "</p>" + "</div> <br>" 
                  mainContainer.appendChild(div);
              }
          }
      </script>
  </div>
</body>
</html>