<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    
    <title>MAR</title>
    
</head>
<body> 
    <div class="outer-container">
        <div class="inner-container">
            <header>
                <h1>MAR</h1>
                <nav>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>

    <div class="h1">
        <h1 > News <button type="submit" class="btn-primary" >  <a href="./newArticle" > New Article</a>   </button></h1>
        
    </div>

      <div id="articles" >
          
    </div>
    <script>
      fetch('http://localhost:2000/news').then(function (response){
            return response.json();
        }).then(function (data){
            appendData(data);
        }).catch(function (err){
            console.log("error:" + err);
        });
        function appendData(data){
            let mainContainer = document.getElementById("articles");
            for (let i = 0; i < data.length; i++){
                let div = document.createElement("div");
                div.innerHTM = 
                                "<div class= 'innerArticles' "+
                                "<h1> <strong>" + data[i].title + "</strong> </h1>" + " <br> " + 
                                "<h5 class='dateClass'>" + data[i].date + "</h5>" + " <br> " +
                                "<p>" + data[i].description + "</p>" + "</div> <br>" 
                mainContainer.appendChild(div);
            }
        }
    </script>
</body>
</html>