<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="booking.css">
</head>

<body>

    <div class="outer-container">
        <div class="inner-container">
            <header>
                <h1>MAR</h1>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="bookingReperation.html">Book</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </nav>
            </header>
        </div>
    </div>

    
        <div class="container mt-4">
            <div class="card" style="width: 18rem;">
                <div class="card-header">Reperation</div>
                <div class="card-body">
                    <form action="/bookingReperation" method="POST">
                        
                        <div class="form-group">
                            <label for="password">Date</label>
                            <input type="date" class="form-control" id="date" name="book_date">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">What is wrong?</label>
                            <textarea class="form-control" id="descr" rows="3" name="descr"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                    
                </div>
            </div>

            <br>
            <div class="alert alert-danger err" > <%= message %></div>

        </div>¨


</body>
</html>