
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    list-style:none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: white;
}

.outer-container{
    display: flex;
    position: relative;
}

.outer-container .inner-container {
    width: 200px;
    height: 100%;
    background: #008080;
    padding: 30px 0px;
    position: fixed;
}

.outer-container .inner-container h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    border-bottom: 1px solid #e0e4e8;
}

.outer-container .inner-container ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}

.outer-container .inner-container ul li a{
    color: white;
    display: block;
}

.outer-container .inner-container ul li a .fas{
    width: 25px;
}

.outer-container .inner-container ul li:hover{
    background-color: orangered;
}

.outer-container .inner-container ul li:hover a{
   color: #fff;
}

.ar{
    width: 100%;
    margin-left: 250px;
}

.nr {
    width: 50%;
    margin-left: 250px;
    padding-right: 525px;
}


/* height of the booking form*/
.ht {
    margin-top: -230px;
}


/*Admin Tables*/

.admin-table {
    position: absolute;
    left: 30%;
    top: 10%;
    border: 1;
    border-collapse: collapse;

}

.admin-table th, tbody td {
    border-bottom: 1px solid #000;
    padding: 10px;
}

.admin-table tr:hover{
    background-color: #ddd;
}

.admin-table th {
    padding-top: 12px;
    padding: bottom 12px;
    text-align: left;
    background-color: rgba(56, 56, 59, 0);
    color: black;
}